body {
    margin: 0;
    overflow: hidden;
    background: url(../assets/readme.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    font-family: system-ui;
}
